name: Update TOC Interface version(s)

on:
  schedule:
    - cron: 0 1 * * *
  workflow_dispatch:
#  push:
#    branches:
#      - master

jobs:
  update-toc:
    runs-on: ubuntu-latest
    steps:
      - name: Clone project
        uses: actions/checkout@v4

      - name: Update TOC Interface version classic
        uses: cont1nuity/toc-interface-updater@master
        with:
          flavor: classic
          future: true   # this is optional
          replaceflavor: true # this is optional

      - name: Update TOC Interface version classic_era
        uses: cont1nuity/toc-interface-updater@master
        with:
          flavor: classic_era
          future: true   # this is optional
          replaceflavor: true # this is optional

      - name: Update TOC Interface version retail
        uses: cont1nuity/toc-interface-updater@master
        with:
          flavor: retail
          future: true   # this is optional
          replaceflavor: true # this is optional

      - name: Create pull request
        uses: peter-evans/create-pull-request@v6
        with:
          title: Update Interface version
          commit-message: Update Interface version
          branch: interface-version
          delete-branch: true